<%- include("header.ejs") %>
    <p><%= todayVariable%><%= greeting %></p>
    
    <form action="/register" method="post">
        <input type="text" name="username" />
        <input type="password" name="password" />
        <button type="submit">Submit</button>
    </form>
         

<%- include("footer.ejs") %>